.signup-container{
    width: auto;
    height: auto;
    display: flexbox;
    align-content: center;
    justify-content: left;
    margin-top: 3rem;
}
.signup-h1{
    font-size: 4rem;
    margin-left: 20rem;
}
.signup-form{
    margin-top: 3rem;
}
